<h1>Listing recitators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recitators.each do |recitator| %>
  <tr>
    <td><%= recitator.name %></td>
    <td><%= recitator.value %></td>
    <td><%= link_to 'Show', recitator %></td>
    <td><%= link_to 'Edit', edit_recitator_path(recitator) %></td>
    <td><%= link_to 'Destroy', recitator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
  <ul class="dropdown-menu">
    <li><a href=><span class="label label-success">Very Good</span></a></li>
    <li><a href=><span class="label label-warning">Good</span></a></li>
    <li><a href=><span class="label label-important">Bad</span></a></li>
    <li role="presentation" class="divider"></li>
    <li><a href=><span class="label label-info">Repeat the verse</span></a></li>
  </ul>
</div>

<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="">بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</a>
  <ul class="dropdown-menu">
    <li>
      <a class="label label-success" href="">Very Good</a>
    </li>
    <li>
      <a class="label label-warning" href="">Good</a>
    </li>
    <li>
      <a class="label label-important" href="">Bad</a>
    </li>
  </ul>
</div>


<%= link_to 'New Recitator', new_recitator_path %>
