<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recitator.name %>
</p>

<p>
  <b>Value:</b>
  <%= @recitator.value %>
</p>


<%= link_to 'Edit', edit_recitator_path(@recitator) %> |
<%= link_to 'Back', recitators_path %>

