%div.row
  #divwrapper_signin.span5.well
    %legend Sign in
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.label :email
      = f.email_field :email, :autofocus => true
      = f.label :password
      = f.password_field :password
      - if devise_mapping.rememberable?
        %div
          %label.checkbox
            Remember me
            = f.check_box :remember_me

      %div= f.submit "Sign in", :class => "btn"
    = render "devise/shared/links"
