<!DOCTYPE html>
<html>
<head>
  <title>Hafiz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/header' %>
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Actions List</h3>
  </div>
  <div class="modal-body">
    <h4>How do i know this verse ?</h4>
    <div id="modal-verset">

    </div>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Excellent
    </label>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Good
    </label>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">
      Not very
    </label>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option2">
      Not all.  <a href=""> I want to memorise !</a>
    </label>
  </div>
  <div class="modal-footer">
    <a href="#" id="closemodal" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
<div class="container-fluid">
<%= yield %>
</div>
<%= javascript_include_tag "application" %>
<%= render :partial => 'layouts/config' %>
</body>
</html>
